
input {
    position: center;
    width: 50%;
    height: 30px;
    /*box-shadow: 0px 2px 5px 0px  #6B737F;*/
    /*box-shadow: 0px 4px 3px 2px rgba(224,220,224,1);*/
    box-shadow: 0px 3px 3px 2px rgba(199,195,199,1);
    /*border-top: 0px solid gray;*/
    border: none;
    /*border-left: none;*/
}


center {
    display: block;
}

.binput {
    max-height: 56px;
    line-height: 27px;
    max-width: 104px;
}

ul {
    list-style-type: none;
    /*margin: 0;*/
    /*padding: 0;*/
    display: inline;
    /*float: right;*/
}

li {
    /*position: relative;*/
    display: inline;
    float: right;
    margin: 0 12px 0 12px;
    /*top: -52px;*/
}



#lga {
    position: relative;
    top: 140px;
}

.squares {
    /*position: relative;*/
    background-image: url(images/squares.png);
    background-repeat: no-repeat;
    /*top: 10px;*/
    width: 22px;
    height: 22px;
    margin: 0 6px 0 8px;
    display: inline;
    float: right;
}

#onered {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 8px;
    background: #FB4534;
    border: 1px solid black;
    /*margin: 0 6px 0 8px;*/
    color: white;
    text-align: center;
    font: 12px;
}


.numberCircle {
    border-radius: 50%;

    width: 7px;
    height: 7px;
    padding: 5px 7px 9px 7px;

    background: #CC0005;
    color: white;
    text-align: center;

    font: 12px Arial, sans-serif;
    display: inline;
    float: right;
     margin: 0 12px 0 12px;
}
.letterCircle {
    border-radius: 50%;

    width: 17px;
    height: 16px;
    padding: 7px 7px 9px 6px;

    background: #B3B6B6;
    /*border: 2px solid #666;*/
    color: white;
    text-align: center;

    /*font: 20px Arial, sans-serif;*/
    display: inline;
    float: right;
     margin: -4px 12px 0 12px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
